#game{
    min-height: 540px;
    width: 75%;
    margin: 20px;
    cursor: default;
}

#post {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wordRow{
    display: flex;
    justify-content: center;
}

/* Word css */

#letterGrid{
    margin: 20px;
}
[class*="letter"]{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: #1E1E24;
    border-style: solid;
    border-width: 2px;
    width: 60px;
    height: 60px;
    margin: 3px;
}

.letterClear{
    border-color: #d8dee9;
}
.letterPending{
    border-color: #9da1a8;
}
.letterRight{
    background-color: #38ac6a;
    color: white;
    border: none;
}
.letterWrongPlace{
    background-color: #ebb666;
    color: white;
    border: none;
}
.letterNotPresent{
    background-color: #ced4da;
    color: white;
    border: none;
}

/* Keyboard css */

#row0, #row1, #row2{
    display: flex;
    justify-content: center;
}
[class*="keyboard"]{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-style: solid;
    border-width: 2px;
    border-color: #dbe4ff00;
    height: 60px;
    width: 50px;
    margin: 5px;
    border-radius: 6px;
    background-color: #dbe4ff;
    cursor: pointer;
}

.keyboardLetter{

}

.keyboardLetterRight{
    color: white;
    background-color: #38ac6a;
}

.keyboardLetterWrongPlace{
    color: white;
    background-color: #ebb666;
}

.keyboardLetterNotPresent{
    color: white;
    background-color: #ced4da;
}

.keyboardSpecialKeyEnter{
    width: 100px;
    background-color: #c9ffcc;
}

.keyboardSpecialKeyBackspace{
    width: 75px;
    background-color: #ffc9c9;
}