#game {
    display: flex;
    position: relative;
    padding: 0.5em;
    margin: 1em;
    background-color: #edf2f4 ;
    border-radius: 3px;

}
#left-tab {
    padding: 1em;
    width: 85%;
}
#right-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 15%;
    
}

.ingredientHint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    background-color: #90C5CB;   
    width: 185px;
    height: 35px;
    margin-bottom: 1em;
}

#answer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 250px;
    height: 50px;
    background-color: #1DCC8F;
    margin-top: 1em;
    margin-bottom: 1em;
}
#cViande, #cCondiment, #cMisc{
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 0.5em;    
    border-right-width: 0.5em;
    background-color: #3AABB5;
    width: 100%;
}
#cFromage, #cSauce {
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 0.5em;    
    border-right-width: 0.5em;
    background-color: #90C5CB;   
    width: 100%;
}


#center-button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#center{
    display: flex;
    justify-content: center;
}

.categorieTitle{
    padding-top: 4px;
}
[class*="foodType"]{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5em;
    width: 160px;
    height: 55px;
    border-style: solid;
}
.foodTypeUnselected {
    border-style: dashed;
    background-color: rgba(255, 255, 255, 0.300);
}

.foodTypeUnselectedMistake{
    border-color: #E26D5A;
    background-color: rgba(255, 255, 255, 0.300);
}

.foodTypeSelected{
    border-style: dashed;
    background-color: rgba(29, 204, 143,0.900);
}

.foodTypeSelectedAnswer{
    border-color: chartreuse;
    background-color: rgba(29, 204, 143,0.900);
}

.foodTypeSelectedMistake{
    border-color: #E26D5A;
    background-color: rgba(29, 204, 143,0.900);
}

.foodTypeAnswer{
    border-color: chartreuse;
    background-color: rgba(255, 255, 255, 0.300);
}

#button-icon {
    width: auto;
    height: 75%;
}

#button-desc {
    font-family:'Roboto';
    font-size: 1em;
    font-weight: 400;
    width: 75%;
    height: auto;
}

.findGalette{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:auto;
    background-color: #3AABB5;;
    width: 185px;
    height: 55px;
}

[class*="galettes"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 55px;
}

.galettesToFindGrey{
    background-color: #D8DDEF;

}

.galettesToFind{
    position: absolute;
    z-index: 2;
    background-color: #3AABB5;
}

.galettesFound {
    position: absolute;
    z-index: 2;
    background-color: #1DCC8F;
}

.galettesMistake {
    position: absolute;
    z-index: 2;
    background-color: #E8C547;
}

.galettesAnswerShowed {
    position: absolute;
    z-index: 2;
    background-color: #E26D5A;
}
